# Backend
backend/bin/
backend/tmp/
backend/logs/
backend/.env.*

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.*

# Docker
.env

# IDE
.vscode/
.idea/
.cursor/


# OS
.DS_Store
Thumbs.db